.emprestimos-container h1 {
  margin-bottom: 20px;
}

.emprestimo-card {
  background: white;

  padding: 20px;

  border-radius: 15px;

  margin-bottom: 20px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.emprestimo-card h2 {
  color: #2563eb;
  margin-bottom: 10px;
}

.emprestimo-card button {
  border: none;
  background: green;
  color: white;

  padding: 12px;

  border-radius: 10px;

  margin-top: 10px;
}